{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab"><i class="fa fa-shopping-cart"></i>Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <form action="{% url 'place_order'%}" method="post">
                                            {% csrf_token %} 
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    First Name: {{form.first_name}}
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    Last Name: {{form.last_name}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    Phone Number: {{form.phone}}
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    Email: {{form.email}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 ">
                                                    Address: {{form.address}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    Country: {{form.country}}
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    State: {{form.state}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    City: {{form.city}}
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                                    Zipcode: {{form.zip_code}}
                                                </div>
                                            </div>
                                        
                                    </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>

                <!-- Order section -->
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">

                                        <ul>
                                            {% for item in cart_items %}
                                            <li id="cart-item-{{item.id}}">
                                                <div class="image-holder"><img src="{{item.fooditem.image.url}}" alt=""></div>
                                                <div class="text-holder">
                                                    <h6>{{item.fooditem}}</h6>
                                                    
                                                    <a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug%}" 
                                                    class="badge badge-warning">{{item.fooditem.vendor}}</a>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price" style="color: rgb(224, 32, 32);">${{item.fooditem.price}}</span>
                                                    <label class="price ml-3"><b>x{{item.quantity}}</b></label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>

                                            {% for key,value in tax_dict.items %}
                                            {% for key1,value1 in value.items %}
                                            {% for i, j in value1.items %}
                                                <li style="list-style-type: none;">
                                                    {{key}} <small>({{i}}%)</small>
                                                    <span class="price float-right">
                                                        <span class="currency">$</span>
                                                        <span id="tax-{{key1}}">{{j}}</span>
                                                    </span>
                                                </li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% endfor %}


                                            <li style="list-style-type: none; font-weight: 600;">
                                                Total
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="total">{{ total }}</span>
                                                </span>
                                            </li>
                                            <br>
                                            
                                            <!-- payment method -->
                                            <h5>Select Paymeny Method</h5>
                                            <div class="payment-method">
                                                <label>
                                                    <input type="radio" name="payment_method" value="PayPal">
                                                    <img src="{% static 'images/PayPal.png'%}" alt="PayPal" width="100">
                                                </label>
                                            </div>
                                            <span class="text-danger" id="payment-method-error" style="color: brown; font-size: small;"></span>
                                            <button onclick="return payMethodConfirm()" type="submit" href="#" 
                                                    class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                                        </ul>
                                    </form>
                                    <!-- end form -->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    function payMethodConfirm(){
        var paymentMethod = $("input[name='payment_method']:checked").val()
        // will return "paypal" or undefined, the value og input 
        if (!paymentMethod){
            $('#payment-method-error').html("Please select the payment method.")
            // prevent form submitting (prevent refresh)
            return false
        }else{
            var conf = confirm('You have selected '+paymentMethod+' as your payment method. Click "ok" to continue.')
            if (conf==true){
                return true
            }else{
                return false
            }
        }
    } 
    $('input[name=payment_method]').on('change', function(){
        $('#payment-method-error').html()
    })
</script>
{% endblock %}